@model AllFragrancesQueryModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="~/css/loadmore.css" />


    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .fragrance-row {
            margin-bottom: 20px; /* Adjust the margin as needed */
        }

        h1 {
             font-size: 48px;
            font-family: "Roboto", sans-serif;
            color: purple; /* Set the text color to purple */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
            background: linear-gradient(to right, #FFC107, #FF9800); /* Use a gradient background */
            background-clip: text;
            -webkit-background-clip: text; /* For Safari support */
            color: transparent;
            display: block;
            text-align: center; /* Center the text horizontally */

        }

        .flip-card {
            background-color: transparent;
            width: 300px;
            height: 300px;
            perspective: 1000px;
        }

        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }

        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }

        .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .flip-card-front {
                background-color: #bbb;
        color: black;
        border: none;
        border-radius: 8px;
        box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.1);
        background: linear-gradient(45deg, #f3f3f3, #ccc);
        }


                .flip-card-back {
                background-color: mediumpurple;
        opacity: 0.7;
        color: white;
        transform: rotateY(180deg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 8px;
        box-shadow: 23px 23px 10px rgba(0, 0, 0, 0.3);
        background: linear-gradient(45deg, #7c44b5, #522d91);
        }

        .flip-card-back h1 {
            font-size: 28px; /* Adjust the font size for the name */
            font-family: "Arial", sans-serif; /* You can use a different font family */
            margin-bottom: 10px; /* Add some space below the name */
            /* Add any other styles for the header */
        }

        .flip-card-back p {
            font-size: 20px;
            /* Add any other styles for the paragraph */
        }

        /* If you want to maintain a consistent layout for all cards, you can set a fixed width and height for each card */
        .fragrance-card {
            width: 300px;
            height: 300px;
            /* Add any other styles you need for each card */
        }

        .fragrance-title {
            margin-bottom: 50px; /* Adjust the margin as needed */
        }

        .add-to-cart-btn {
            display: inline-block;
            padding: 8px 16px;
            margin-top: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        .fragrance-card-column {
            margin-bottom: 50px; /* Adjust the margin as needed */
        }
        
        .search-form {
            color: mediumpurple;
        }

                .fragrance-card {
            margin-bottom: 45px;
        }

    </style>
</head>
<body>

    <h1 class="text-center mt-2 fragrance-title">All Fragrances </h1>
    <form method="get">
    <div class="row">
        <div class="form-group col-md-3 d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="Category"></label>
                <select asp-for="Category" class="form-control">
                    <option value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
        </div>

            <div class="form-group col-md-3">
                <div class="form-group">
                    <label asp-for="FragranceSorting"></label>
                    <select asp-for="FragranceSorting" class="form-control">
                        <option value="0">Price (Ascending)</option>
                        <option value="1">Price (Descending)</option>
                    </select>
                </div>
            </div>
    </form>



    <div class="col-md-3">
        <div class="form-group mt-4 p-2">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>

    @{
        int previousPage = Model.CurrentPage - 1;
        if (previousPage < 1)
        {
            previousPage = 1;
        }

        int maxPage = (int)Math.Ceiling((double)Model.TotalFragrances /
        Model.FragrancesPerPage);
    }

    <div class="row mb-5">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
               asp-controller="Fragrance"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.SearchString"
           asp-route-sorting="@((int)Model.FragranceSorting)"><<</a>
    </div>

    @{
        bool shouldNextPageBeDisabled = Model.CurrentPage == maxPage ||
        !Model.Fragrances.Any();
    }

    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary
           @(shouldNextPageBeDisabled ? "disabled" : string.Empty)"
           asp-controller="Fragrance"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.SearchString"
           asp-route-sorting="@((int)Model.FragranceSorting)">>></a>
    </div>
</div>

@if (!Model.Fragrances.Any())
{
    <h2 class="text-center">No fragrances found by the given criteria!</h2>
}




            <div class="container-fluid">
        <div class="row box-container mt-lg-5">
                    @foreach (var fragrance in Model.Fragrances)
                    {
                            <div class="col-lg-4 col-md-6 col-sm-12 fragrance-card">
                                <div class="flip-card fragrance-card">
                                    <div class="flip-card fragrance-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <img src="@fragrance.ImageUrl" alt="@fragrance.Name" style="width:300px;height:300px;">
                                            </div>
                                            <div class="flip-card-back">
                                                <h1>@fragrance.Name</h1
                                                <p>Price: @fragrance.Price</p>
                                                <!-- Add any other fragrance details you want to display on the back side of the card -->
                                                <button class="add-to-cart-btn">Add to Cart</button>
                                    <partial name="_FragrancePartial" model="@fragrance" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    }
                </div>
            </div>>
</body>
</html>