@model FragranceDetailsViewModel

<h2>Set Accords for @Model.Name</h2>

@using (Html.BeginForm("SetAccords", "Fragrance", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)

        <div class="form-group">
            <label>Woody:</label>
        @Html.TextBoxFor(m => m.Accords.Woody, new { @class = "form-control", type = "number", min = 0, max = 100 })
        </div>

        <div class="form-group">
            <label>Citrus:</label>
        @Html.TextBoxFor(m => m.Accords.Citrus, new { @class = "form-control", type = "number", min = 0, max = 100 })
        </div>

    <div class="form-group">
        <label>Citrus:</label>
        @Html.TextBoxFor(m => m.Accords.Floral, new { @class = "form-control", type = "number", min = 0, max = 100 })
    </div>
    <div class="form-group">
        <label>Citrus:</label>
        @Html.TextBoxFor(m => m.Accords.Musky, new { @class = "form-control", type = "number", min = 0, max = 100 })
    </div>
    <div class="form-group">
        <label>Citrus:</label>
        @Html.TextBoxFor(m => m.Accords.Spicy, new { @class = "form-control", type = "number", min = 0, max = 100 })
    </div>
    <div class="form-group">
        <label>Citrus:</label>
        @Html.TextBoxFor(m => m.Accords.Aromatic, new { @class = "form-control", type = "number", min = 0, max = 100 })
    </div>
    <div class="form-group">
        <label>Citrus:</label>
        @Html.TextBoxFor(m => m.Accords.Fruity, new { @class = "form-control", type = "number", min = 0, max = 100 })
    </div>
    <div class="form-group">
        <label>Citrus:</label>
        @Html.TextBoxFor(m => m.Accords.Green, new { @class = "form-control", type = "number", min = 0, max = 100 })
    </div>
    <div class="form-group">
        <label>Citrus:</label>
        @Html.TextBoxFor(m => m.Accords.Herbal, new { @class = "form-control", type = "number", min = 0, max = 100 })
    </div>

        <button type="submit" class="btn btn-primary">Save Accords</button>

        <a class="btn btn-secondary" href="@Url.Action("Details", new { fragranceId = Model.Id })">Cancel</a>
}

