@model IEnumerable<FragranceByCategoryForm>

@{
    ViewBag.Title = "Unisex Fragrances";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!Model.Any())
{
    <h2 class="text-center">No unisex fragrances found!</h2>
}
else
{
    <div class="row">
        @foreach (var fragrance in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@fragrance.ImageUrl" class="card-img-top" alt="@fragrance.Name">
                    <div class="card-body">
                        <h5 class="card-title">@fragrance.Name</h5>
                        <p class="card-text">Price: @fragrance.Price.ToString("C")</p>
                        <p class="card-text">@Html.Raw("Available")</p>
                    </div>
                </div>
            </div>
        }
    </div>
}
